    <div class="content">
        <div class="header">
            <h1 class="page-title">管理员列表</h1>
        </div>
            <ul class="breadcrumb">
                <li><a href="/">后台管理</a> <span class="divider">/</span></li>
                <li><a href="#">管理员设置</a> <span class="divider">/</span></li>
                <li class="active">添加管理员</li>
            </ul>
        <div class="container-fluid">
            <div class="row-fluid">
<div class="well">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">填写信息</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
    <form id="tab">
        <label>用户名</label>
        <input type="text" name="username" id="username" placeholder="请填写用户名"/>
        <label>密码</label>
        <input type="password" name="password" id="password" placeholder="请填写密码"/>        
        <label>确认密码</label>
        <input type="password" name="repassword" id="repassword" placeholder="确认密码"/>        
        <label>昵称</label>
        <input type="text" name="nickname" id="nickname" placeholder="请填写昵称"/>
        <label>真实姓名</label>
        <input type="text" name="realname" id="realname" placeholder="请填写真实姓名"/>
        <label>邮箱</label>
        <input type="text" name="email" id="email" placeholder="请填写正确格式的邮箱"/>
        <div class="btn-toolbar">
            <a  class="btn btn-primary" id="sure">确定</a>
        </div>        
    </form>
      </div>
  </div>
</div>
<script type="text/javascript">
$(function(){
    $('#sure').click(function(){
        $.ajax({
                    url:'/admin/add/',
                    type:'POST',
                    data:{
                      username:$("#username").val(),
                      password:$("#password").val(),
                      repassword:$("#repassword").val(),
                      nickname:$("#nickname").val(),
                      realname:$("#realname").val(),
                      email:$("#email").val()
                    },
                    success:function(msg){
                      var mess = msg.split(':');
                      if(mess[0]==100){
                        alert(mess[1]);
                      }else{
                        alert(mess[1]);
                      }
                    }
        })
    })
})
</script>
              <footer>
                  <hr>
                  <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
                  <p class="pull-right">A <a href="http://www.portnine.com/bootstrap-themes" target="_blank">Free Bootstrap Theme</a> by <a href="http://www.portnine.com" target="_blank">Portnine</a></p>

                  <p>&copy; 2013 <a href="http://www.juaiwan.com" target="_blank">XXX</a></p>
              </footer>
            </div>
        </div>
    </div>