<div class="container">
  <form class="form-horizontal">
    <fieldset>
    <legend><small><strong>&sect; 修改密码</strong></small></legend>
    <div class="control-group">
      <div class="controls">
        <input style="width:355px" type="password" placeholder="当前登录密码">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input style="width:355px" type="password" placeholder="欲修改的新密码">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input style="width:355px" type="password" placeholder="重复以上密码">
      </div>
    </div>        
    <div class="control-group">
      <div class="controls">
        <button style="width:368px" type="submit" class="btn btn-success">确认修改</button>
      </div>
    </div>
    </fieldset>
  </form>
</div>